<script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
<script>
    async function fetchOpenApi(){
      let result = await fetch("/api/open");
      let json = await result.json();
      document.getElementById("openMessage").innerHTML = JSON.stringify(json.message);
    }
    async function fetchMembersOnlyApi(){
      const token = await auth0.getTokenSilently();
      let result = await fetch("/api/");
      let json = await result.json();
      document.getElementById("moMessage").innerHTML = JSON.stringify(json.message);
    }
    const configureClient = async () => {
      auth0 = await createAuth0Client({
        domain:`dev-r3shdilnu02mnc5r.us.auth0.com`,
        client_id: "RKwdj6BIkvrlPC9kWkne6XYAix51ErLr",
        audience: "https://dryglawill.win/" // The backend api id
      });
    }
  const login = async () => {
      await auth0.loginWithRedirect({
        redirect_uri: "http://localhost:4000/api"
      });
    };
    const logout = () => {
      auth0.logout({
        returnTo: window.location.origin
      });
    };
    const updateUI = async () => {
          const isAuthenticated = await auth0.isAuthenticated();
  
          document.getElementById("btn-logout").disabled = !isAuthenticated;
          document.getElementById("btn-login").disabled = isAuthenticated;
  
          if (isAuthenticated) {
            document.getElementById("gated-content").classList.remove("hidden");
  
            document.getElementById(
              "ipt-access-token"
            ).innerHTML = await auth0.getTokenSilently();
  
            document.getElementById("ipt-user-profile").textContent = JSON.stringify(
              await auth0.getUser()
            );
  
          } else {
            document.getElementById("gated-content").classList.add("hidden");
          }
        };
  
  window.onload = async () => {
          await configureClient();
          updateUI();
          const isAuthenticated = await auth0.isAuthenticated();
          if (isAuthenticated) {
            return;
          }
  
          const query = window.location.search;
          if (query.includes("code=") && query.includes("state=")) {
            await auth0.handleRedirectCallback();
            updateUI();
            window.history.replaceState({}, document.title, "/");
          }
      };
  
  </script>



<html>
  <head>
  <style>
      .hidden {
        display: none;
      }
      label {
        margin-bottom: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>Infoworld: Intro to Auth0</h1>
    <button id="btn-login" disabled="true" onclick="login()">Log in</button>
    <button id="btn-logout" disabled="true" onclick="logout()">Log out</button>

    <h2>Fetch Open API</h2>
    <h3 id="openMessage"></h3>
    <button onclick="fetchOpenApi()">Open API</button>

    <h2>Fetch Members Only API</h2>
    <h3 id="moMessage"></h3>
    <button onclick="fetchMembersOnlyApi()">Members Only API</button>

    <h2>Fetch Protected API</h2>
    <h3 id="protectedMessage"></h3>
    <button onclick="fetchProtectedApi()">Protected API</button>
    <hr>
    <div class="hidden" id="gated-content">
      <p>
        This content is hidden until user is logged in.
      </p>
      <label>
        Access token:
        <pre id="ipt-access-token"></pre>
      </label>
      <label>
        User profile:
        <pre id="ipt-user-profile"></pre>
      </label>
    </div>
  </body>
</html>

